<html>
    
    {#подключение бандла только в формате PlotsBundle:Default:имя_бандла#}
    
    {% include 'PlotsBundle:Default:header.html.twig'%}
    {% include('PlotsBundle:Default1:plot_highcharts.html.twig')%}
    {% block header %}
    {% endblock %}
    <body>
        {% block body %}{% endblock %}    
    </body>
</html>
